.activity-card{
    width: 340px;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #89af20;
}

.activity-card img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.activity-card h2{
    padding-top: 5px;
}

.activity-card p{
    color: #000000;
    font-size: 14px;
    text-align: center;
    padding-top: 8px;
    line-height: 1.5em;
}